.descontainer{
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
    overflow: hidden;
}

.cont {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.title {
    border-left: 1px solid black;
    writing-mode:vertical-lr;
    width: 30%;
    font-size: 1.8rem;
    font-weight: 400;
}

.des {
    font-size: 2.8rem;
    width: 70%;
}

@media screen and (max-width: 1040px) { 
    .descontainer {
        padding: 0 1rem;
        height: auto;
    }
    .cont {
        width: 100%;
    }
    .title {
        font-size: 1rem;
    }

    .des {
        font-size: 1.3rem;
    }
}