.descontainer{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 4rem 5rem;
    /* margin: 4rem 0; */
}

.title {
    margin-bottom: 4rem;
    font-size: 4rem;
    text-decoration: underline;
    text-decoration-color: #E04345;   
}

.des {
    font-size: 2rem;
}