.excontainer{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 4rem 5rem;
}

.title {
    margin: 1rem 0 4rem 0;
    font-size: 4rem;
    text-decoration: underline;
    text-decoration-color: #E04345;
}

.parts {
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.info1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40%;
}

.imgContainer {
    width: 8%;
    height: 50%;
    /* border: 1px solid black; */
}

.img {
    width: 100%;
    height: 100%;
}

.info2 {
    height: 60%;
    margin-left: 2rem;
    /* border: 1px dotted black; */
}

.details {
    width: 90%;
    height: 50%;
    /* border: 1px solid blue; */
}

.about {
    margin: 1rem 0 0 1rem;
}

.company {
    font-size: 2rem;
}

.title_company {
    font-size: 1.5rem;
}

.dates {
    font-size: 1rem;
}

.certificate {
    color: black;
    text-decoration-color: #E04345;
    font-size: 1rem;
}

.points {
    font-size: 1rem;
    display: list-item;
}