.container{
    width: 100%;
    /* min-height: 100%; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 4rem 5rem 2rem 5rem;
    border-top: 2px solid black;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.card{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

.title {
    text-decoration: underline;
    text-decoration-color: #E04345;
}

.val {
    font-weight: 500;
}

.socialcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.social {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    width: 60%;    
}

.iconcontainer {
    width: 3rem;
    height: 3rem;
}

.icons {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.slog {
    text-align: center;
    font-size: 1rem;
    margin-top: 2rem;
}

.resume {
    text-align: center;
    margin: 2rem;
}

.resumelink {  
    color: black; 
    text-decoration-color: #E04345;
}

.emaillink {
    color: black;
    text-decoration: none;
}

.version {
    text-align: center;
    font-size: 1rem;
    opacity: 0.5;
}

@media screen and (max-width: 1040px) { 
    .container {
        padding: 1rem;
    }
    .info {
        flex-direction: column;
        text-align: center;
    } 
    .card{
        font-size: 0.5rem;
    }
    .card:nth-child(2) {
        margin-top: 1rem;
    }

    .resume {
        font-size: 1rem;
        margin: 1rem;
    }

    .social {
        width: 80%;
    }

    .iconcontainer {
        width: 1.3rem;
        height: 1.3rem;
    }

    .icons{
        border-radius: 3px;
    }

    .slog, .version {
        font-size: 0.5rem;
    }
}