/* ----------Full Page----------- */
.main {
  display: flex;
  height: 100vh;
  width: 100%;
}

.content {
  width: 100%;
  height: 100%;
}


/* ----------Home Page----------- */
 .mainContainer{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.me{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 3.5rem;
}

 .wordContainer {
  width: 100%;
  overflow: hidden;
}

.box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.myname {
  padding: 0 0 0 1rem;
  /* margin: 0; */
  font-size: 12rem;
  /* width: 100%; */
  font-weight: bolder; 
  /* position: relative; */
}

.line {
  width: 100%;
  height: 4px;
  background: #4A4846;
}

.titlesCont {
  font-weight: 500;
  opacity: 0.8;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5rem;
}

.titleItem {
  position: relative;
  text-transform: uppercase;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #000000c2, #000);
  background-repeat: no-repeat;
  background-size: 75%;
  animation: animate 3s linear infinite;
  background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

.cardContent {
  background: radial-gradient(rgba(0, 0, 0, 0.2) 8%, transparent 8%);
  background-position: 0% 0%;
  background-size: 5vmin 5vmin;
  width: 100%;
  height: 100%;
  position: absolute;
}

@keyframes animate {
  0% {
    background-position: -400%;
  }
  100% {
    background-position: 400%;
  }
}  


@media screen and (max-width: 1040px) {
  .titlesCont {
    flex-direction: column;
    height: 50%;
    align-items: center;
    justify-content: center;
  }

  .titleItem {
    font-size: 1.5rem;
  }

  .myname {
    font-size: 4rem;
  }

  .me {
    height: 50%;
    align-items: center;
    justify-content: flex-start;
    margin-top: 6rem;
  }
}