.nav {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    position: fixed;
    z-index: 10;
}

.menuCont{
    display: contents;
    cursor: pointer;
}

.menu {
    background: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 11;
    padding: 0.6rem;
    border-radius: 10px;
}

.list {
    width: 100%;
    height: 100%;
    position: fixed;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: none;
}

.ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
}

.li {
    margin-left: 2rem;
}

.link {
    font-size: 4.5rem;
    color: black;
    text-decoration: none;
    position: relative;
    transition: 0.3s color ease-in-out;
}

.link:hover {
    color: #E04345;
}

.link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: #E04345;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.link:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

@media screen and (max-width: 1040px) { 
    .link {
        font-size: 160%;
    }
    .menu {
        width: 3rem;
        height: 3rem;
    }
}