.container{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.title {
    margin: 1rem 0 4rem 0;
    font-size: 4rem;
    text-decoration: underline;
    text-decoration-color: #E04345;
    margin-left: 5rem;
}

.projects {
    display: flex;
    flex-direction: column;
}

.carousel {
    cursor: grab;
    overflow: hidden;
}

.inner_carousel {
    display: flex;
}

.item {
    min-width: 50rem;
    min-height: 30rem;
    padding: 0 1rem;
    position: relative;
}

.projimg {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    pointer-events: none;
    object-fit: cover;
    /* position: relative; */
    /* z-index: 1; */
}

.info {
    cursor: pointer;
    position: absolute;
    bottom: 1rem;
    left: 2rem;
    color: white;
    backdrop-filter: blur(20px);
    padding: 1rem;
    border: 1.5px solid black;
    border-radius: 10px;
}

.projtitle{
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.getmore {
    margin-top: 1rem;
    font-size: 1rem;
}

.getmorelink {
    color: white;
    text-decoration-color: #E04345;
    text-decoration-thickness: 2px;
}

.techlist {
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
}

.backtech {
    background: white;
    color: black;
    margin: 0 1rem 0 0;
    border-radius: 10px;
    padding: 0.5rem;
    border: 1px solid black;
}

@media screen and (max-width: 1040px) {
    .container {
        padding: 1rem;
        min-height: auto;
    }

    .title {
        font-size: 1.5rem;
        margin: 1.8rem 0 1rem 0;
    }

    .item {
        min-height: 18rem;
        min-width: 20rem;
    }

    .projtitle {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    .techlist {
        font-size: 0.6rem;
    }

    .backtech {
        padding: 0.2rem 0.5rem;
        margin: 0 0.4rem 0 0;
    }

    .getmore {
        font-size: 0.8rem;
        margin-top: 0.5rem;
    }

    .info {
        width: 80%;
    }
}